{% extends 'blog/basic.html' %}


{% block body %}
<div class="container">
<div class="row g-5 mt-4" >
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        {{post.title}}
      </h3>

      <article class="blog-post">
        <h2 class="blog-post-title mb-1">{{post.head0}}</h2>
        <p class="blog-post-meta">January 1, 2021 by <a href="#">Mark</a></p>

        <p>{{post.chead0}}</p>
        
        <div class="fb-like" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}/" data-width="" data-layout="button_count" data-action="like" data-size="large" data-share="true"></div>
        <h2>{{post.head1}}</h2>
        <p>{{post.chead1}}</p>
        <h2>{{post.head2}}</h2>
        <p>{{post.chead2}}</p>
        <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}/" data-width="" data-numposts="5"></div>

    
    </article>

      

     

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-light rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">My Awesome cart is an ecomerce website and you can use it to buy anything online</p>
        </div>

        <div class="p-4">
          <h4 class="fst-italic">Elsewhere</h4>
          <ol class="list-unstyled">
            <li><a href="#">GitHub</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Facebook</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  my_prev_post_id=my_post.post_id-1
  my_next_post_id=my_post.post_id+1
  <a href="{{my_prev_post_id}}" class="stretched-link">Continue reading prev blog</a>
  <a href="{{my_next_post_id}}" class="stretched-link">Continue reading next blog</a>
</div>
{% endblock %}